* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #252830;
}

/* MOBILE */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background-color: white;
}

.header__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 5vw;
  color: black;
  font-size: 1rem;
}

.scoreboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 5vw;
  width: 90vw;
  height: 10vh;
  border-radius: 4px;
  border: 2px solid white;
  color: white;
  font-size: 1.5em;
}

.scoreboard__badge {
  padding: 10px;
  background: red;
  color: white;
  text-align: center;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result__message {
  text-align: center;
  color: white;
  margin: 2vw 0;
}

.choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.choices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40vw;
  min-height: 120px;
  padding: 10px;
  margin: 2vw;
  border: 4px solid white;
  border-radius: 50%;
}

.choices__item--rock {
  width: 100%;
  min-height: 100px;
  border-radius: 50%;
}

.choices__item--paper {
  width: 100%;
  min-height: 100px;
  border-radius: 50%;
}

.choices__item--scissors {
  width: 100%;
  min-height: 100px;
  border-radius: 50%;
  background-color: grey;
}

.choices__item:hover {
  background: black;
}

.action-message {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: 2vh 0;
}

@media only screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.5rem;
  }
  .header__title {
    padding: 20px;
    font-size: 3rem;
  }
  .scoreboard {
    width: 50vw;
    height: 15vh;
    margin: 5vh auto;
  }
  .result__message {
    margin: 0 5vw;
    font-size: 2.5em;
  }
  .choices {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .choices__item {
    padding: 30px;
    margin: 50px 10px 20px 10px;
  }
  .choices__item--rock {
    width: 150px;
    min-height: 150px;
  }
  .choices__item--paper {
    width: 150px;
    min-height: 150px;
  }
  .choices__item--scissors {
    width: 150px;
    height: 150px;
  }
  .choices__item:hover {
    background: black;
  }
  .action-message {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 2vh 0;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    height: 10vh;
  }
  .header__title {
    font-size: 4rem;
  }
  .scoreboard {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 40vw;
    height: 15vh;
    font-size: 3em;
  }
  .result__message {
    font-size: 4em;
  }
  .choices {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .choices__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 250px;
    height: 250px;
  }
}

.winner {
  border: 4px solid green;
  -webkit-box-shadow: 0 0 10px green;
          box-shadow: 0 0 10px green;
}

.loser {
  border: 4px solid red;
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
}

.draw {
  border: 4px solid gray;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
}
/*# sourceMappingURL=styles.css.map */